* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

html {
    font-size: 22px;
}

h2, h3, h4 {
    margin: 10px;
}

header {
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width:auto;
    margin-left: 10px;
}

nav {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#mission {
    width: 1200px;
    height: 700px;
    margin: 70px auto;
    padding-top: 70px;
    background-image: url("./images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#featured {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
.img-container {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-box {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.img-box img {
    height: 200px;
    width: 300px;
}

#locations {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    background-image: url("./images/img-locations-background.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
        
}

.location-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: rgba(0,0,0,0);
}

#locations h2 {
    background-color: rgba(0,0,0,0);
    margin-top: 100px;
    margin-bottom: 15px;
}

.box {
    width: 300px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.footer {
    height: 200px;
    width: 100%;
}

.copyright {
    padding-bottom: 20px;
}

.copyright h5 {
    text-align: left;
    margin: 20px;
}